# Private key mnemonic words
export L1_MNEMONIC="xxx xxx xxx xxx xxx xxx xxx xx xxx xxxx xxxx xxx"
#./run_l2.bash script print-address --account l2owner
export L2_OWNER_ADDRESS=0x*******

export L1_RPC_URL=
export L1_HTTP_RPC_URL=

export L1_CHAIN_ID=

export CHILD_CHAIN_NAME=
export HEAT_BEAT_PRIVATE_KEY=0x79b0******18ec82b
export HEAT_BEAT_LIMIT_NUM=10

export IMPL_SALT=$(openssl rand -hex 32)

# direnv allow

